.terminal-graphe {
    z-index: 1000;
    width: 50%;
    height: 50%;
    background: #2b2b2b;
    color: #00ff9f;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 200px;
    display: none;
}

.terminal-header-graphe {
    background: #3a3a3a;
    color: white;
    padding: 8px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;   
    border-top-right-radius: 10px;
    user-select: none;
}

.close-btn-graphe {
    background: #ff4d4d;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background 0.2s;
}

.close-btn-graphe:hover {
    background: #ff1a1a;
}